---
import PostCard from "@components/PostCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getShowablePosts, sortPosts } from "@util/BlogHelper";
import type { InferGetStaticParamsType } from "astro";
import { type CollectionEntry, getCollection } from "astro:content";

export const prerender = true;

export interface Props {
  posts: CollectionEntry<"blog">[];
  title: string;
  description?: string;
}

export async function getStaticPaths() {
  const allTags = await getCollection("tag");

  return await Promise.all(
    allTags.map(async ({ data: { title, description }, id }) => ({
      params: { tag: id },
      props: {
        title,
        description,
        posts: await getCollection("blog", (entry) => {
          const showable = getShowablePosts(entry);
          const containsTag = entry.data.tags.some((entryTag) => entryTag.id === id);
          return showable && containsTag;
        }),
      },
    }))
  );
}

const { posts, title, description } = Astro.props;
const { tag } = Astro.params as InferGetStaticParamsType<typeof getStaticPaths>;
const titleString = `${title} Tagged Posts`;
const descriptionString = description ?? `All blog posts with the ${title} (#${tag}) tag`;
---

<BaseLayout title={titleString} description={descriptionString}>
  <main
    id="stq-page-content"
    class="bs-container-md mt-16 max-w-[52rem] grow scroll-mt-16 px-4 pb-28"
  >
    <section data-post-heading class="mb-4 pt-5 text-center">
      <h1 class="mb-4 text-4xl font-semibold tracking-tight sm:text-5xl">
        {title}
      </h1>
      <p class="text-lg">{descriptionString}</p>
    </section>
    <ul data-post-list data-post-count={posts.length} class="mt-8 space-y-16">
      {
        posts.length > 0 ? (
          posts.sort(sortPosts).map(({ data, slug }) => <PostCard {...data} {slug} />)
        ) : (
          <li class="text-xl md:text-center lg:text-2xl">
            <p class="mb-3">Huh, it looks like there are no posts available to read.</p>
            <p>Try checking back in the future!</p>
          </li>
        )
      }
    </ul>
  </main>
</BaseLayout>
