---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../layouts/Base.astro";

type Props = CollectionEntry<"blog">;

export async function getStaticPaths() {
  const blog = await getCollection("blog");
  return blog.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const { data, render, slug } = Astro.props;

const { description, tags, title, authors, publishDate } = data;
const { Content, headings } = await render();
console.log("TOC: ", slug, headings);
---

<Layout
  title={title}
  description={description}
  slug={slug}
  authors={authors}
  tags={tags}
  publishDate={publishDate.toJSON()}
>
  <article class="mx-auto mt-16 min-h-full w-full max-w-4xl grow scroll-mt-16 px-3">
    <section class="pb-5 text-sm text-gray-300 md:text-base">
      <p>
        Originally published on {publishDate.toJSON()}
      </p>
    </section>
    <section data-post-body class="prose prose-invert max-w-none grow lg:prose-xl prose-headings:scroll-mt-16">
      <h1 class="lg:!text-5xl">{title}</h1>
      <div data-tag-list class="flex gap-2 pb-3 not-prose">
        {tags.map((val) => <span>{val}</span>)}
      </div>
      <Content />
    </section>
  </article>
</Layout>
