---
import Button from "./Button.astro";
import { format, formatISO } from "date-fns";
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

export type Props = CollectionEntry<"blog">["data"] & {
  showTags?: boolean;
  slug: string;
};

const { title, publishDate, description, slug, showTags, tags, cover, coverAlt } = Astro.props;
---

<li data-title={title}>
  <article
    class="relative rounded-lg border border-gray-700 bg-gray-900 p-5 outline-blue-400 transition-transform duration-200 ease-out focus-within:outline hover:scale-[1.03] [&:has(.btn:focus)]:outline-primary-400"
  >
    <a href={`/${slug}`} class="block outline-none">
      {
        cover && (
          <Image
            src={cover.src}
            alt={coverAlt || "Blog post cover image"}
            height={cover.height}
            width={cover.width}
            format={cover.format}
            class="my-8"
          />
        )
      }
      <span class="sr-only">Click to read post titled {title}</span>
      <span class="absolute inset-0 rounded-lg"></span>
      <section class="font-mono text-gray-300">
        <time datetime={formatISO(publishDate)}>
          {format(publishDate, "MMMM do, yyyy")}
        </time>
      </section>
      <div class="mt-5 grid gap-x-16 gap-y-3 md:grid-cols-2">
        <h2 class="text-2xl/tight font-bold md:text-4xl/tight">{title}</h2>
        <p class="line-clamp-3 text-gray-300">
          {description}
        </p>
      </div>
    </a>
    {
      showTags && (
        <section data-tag-list class="relative clear-left mt-5 inline-flex flex-wrap gap-2">
          {tags.map((tag) => (
            <Button href={`/tags/${tag}`} variant="secondary" class="z-10 px-2 py-1 leading-4">
              <span class="sr-only">Click or tap this tag to view other posts about</span>
              <strong> # {tag}</strong>
            </Button>
          ))}
        </section>
      )
    }
  </article>
</li>
