---
import Footer from "@components/Footer.astro";
import Header from "@components/Header/Header";
import NavLink from "@components/NavLink.astro";
import SEO from "@components/SEO.astro";

export interface Props {
  title: string;
  navTitle?: string;
  description: string;
  authors?: string[];
  publishDate?: string;
  canonicalURL?: URL | null;
  tags?: string[];
}

const {
  title,
  description,
  authors,
  publishDate,
  tags,
  navTitle = "SamTheQ Blog",
  canonicalURL = new URL(Astro.request.url, Astro.site),
} = Astro.props;

const ensureTrailingSlash = (url: string) => url.replace(/\/$/, "") + "/";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="author" content="Samuel Quinones" />

    <title set:html={title} />

    <SEO
      title={title}
      description={description}
      url={canonicalURL && ensureTrailingSlash(canonicalURL.toString())}
    />
    <!-- Global CSS Files -->
    <link rel="stylesheet" href="/bs-container.css" />

    {authors && authors.map((author) => <meta property="article:author" content={author} />)}
    {tags && tags.map((tag) => <meta property="article:tag" content={tag} />)}
    {publishDate && <meta property="article:published_time" content={publishDate} />}
  </head>
  <body>
    <Header client:media="not all and (min-width: 640px)" title={navTitle}>
      <NavLink href="/">All Posts</NavLink>
      <NavLink href="/tags">Filter By Tag</NavLink>
    </Header>
    <slot />
    <Footer />
    <style is:global>
      :root {
        color-scheme: dark;
      }

      html,
      body {
        background-color: #371b36;
        color: white;
      }

      html {
        height: 100%;
        font-feature-settings: "cv02", "cv03", "cv04", "cv11";
      }

      body {
        display: flex;
        flex-direction: column;
        min-height: 100%;
      }

      @font-face {
        font-family: "Inter var";
        font-weight: 100 900;
        font-display: swap;
        font-style: normal;
        font-named-instance: "Regular";
        src: url("/fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
      }
      @font-face {
        font-family: "Inter var";
        font-weight: 100 900;
        font-display: swap;
        font-style: italic;
        font-named-instance: "Italic";
        src: url("/fonts/Inter-italic.var.woff2?v=3.19") format("woff2");
      }

      @font-face {
        font-family: "Fira Code VF";
        font-weight: 300 700;
        font-style: normal;
        src: url("/fonts/FiraCode-VF.woff2") format("woff2-variations"),
          url("/fonts/FiraCode-VF.woff") format("woff-variations");
      }

      .font-mono {
        font-variant-ligatures: none;
      }
    </style>
  </body>
</html>
