---
import "../styles/globals.css";
import Footer from "@components/Footer.astro";
import NavBar from "@components/Header/NavBar";
import NavLink from "@components/Header/NavLink.astro";
import SEO, { type OGImage } from "@components/SEO.astro";
import { formatISO } from "date-fns";

export interface Props {
  title: string;
  navTitle?: string;
  description: string;
  authors?: string[];
  publishDate?: Date;
  lastUpdated?: Date;
  canonicalURL?: URL;
  tags?: string[];
  ogImage?: OGImage;
}

const siteName = "SamTheQ Blog";

const {
  title,
  description,
  authors,
  publishDate,
  lastUpdated,
  tags,
  ogImage = { src: "https://samtheq.com/Logo_866.png", alt: "SamTheQ Logo", type: "image/png" },
  navTitle = siteName,
  canonicalURL = new URL(Astro.request.url, Astro.site),
} = Astro.props;

const updatedTitle = [title, siteName].join(" | ");
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global Meta -->
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="author" content="Samuel Quinones" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="robots" content="follow, index" />
    <meta name="apple-mobile-web-app-title" content={siteName} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="RSS" />

    <SEO
      title={updatedTitle}
      siteName={siteName}
      description={description}
      canonicalURL={canonicalURL}
      ogImage={ogImage}
    />

    {authors && authors.map((author) => <meta property="article:author" content={author} />)}
    {tags && tags.map((tag) => <meta property="article:tag" content={tag} />)}
    {publishDate && <meta property="article:published_time" content={formatISO(publishDate)} />}
    {lastUpdated && <meta property="article:modified_time" content={formatISO(lastUpdated)} />}
    <!-- Global CSS Files -->
    <link rel="stylesheet" href="/bs-container.css" />
  </head>
  <body>
    <NavBar client:media="not all and (min-width: 640px)" title={navTitle}>
      <NavLink href="/">All Posts</NavLink>
      <NavLink highlightNested href="/tags">Filter By Tag</NavLink>
      <NavLink href="/about">About</NavLink>
    </NavBar>
    <slot />
    <Footer />
    <style is:global>
      :root {
        color-scheme: dark;
      }

      html,
      body {
        padding: 0;
        margin: 0;
        background-color: #371b36;
        color: white;
      }

      html {
        height: 100%;
        font-feature-settings: "cv02", "cv03", "cv04", "cv11";
      }

      body {
        display: flex;
        flex-direction: column;
        min-height: 100%;
      }

      [data-nav-skip-link] {
        border: 0;
        clip: rect(0, 0, 0, 0);
        position: absolute;
        margin: -1px;
        height: 1px;
        width: 1px;
        overflow: hidden;
        padding: 0;
        color: white;
      }
      [data-nav-skip-link]:hover {
        color: rgb(203 213 225);
      }
      [data-nav-skip-link]:focus {
        clip: auto;
        position: fixed;
        top: 0.25rem;
        left: 0.25rem;
        z-index: 10;
        height: auto;
        width: auto;
        padding: 0.75rem;
        background-color: rgb(75, 85, 99);
      }

      @font-face {
        font-family: "Inter var";
        font-weight: 100 900;
        font-display: swap;
        font-style: normal;
        font-named-instance: "Regular";
        src: url("/fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
      }
      @font-face {
        font-family: "Inter var";
        font-weight: 100 900;
        font-display: swap;
        font-style: italic;
        font-named-instance: "Italic";
        src: url("/fonts/Inter-italic.var.woff2?v=3.19") format("woff2");
      }

      @font-face {
        font-family: "Fira Code VF";
        font-weight: 300 700;
        font-style: normal;
        src: url("/fonts/FiraCode-VF.woff2") format("woff2-variations"),
          url("/fonts/FiraCode-VF.woff") format("woff-variations");
      }

      .font-mono {
        font-variant-ligatures: none;
      }
    </style>
  </body>
</html>
